@charset "UTF-8";
*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hidden {
  display: none !important;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div {
  color: #fff;
}

@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/Graphik/GraphikRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/public/fonts/Graphik/GraphikMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 4;
  padding: 15px 17.8vw;
  top: 0;
  background-color: #181818;
}
@media screen and (max-width: 767.98px) {
  header.header {
    padding: 7px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header {
    padding: 10px 10vw;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  header.header {
    padding: 15px 17.8vw;
  }
}
header.header .logo {
  width: 80px;
  height: 80px;
  min-width: 80px;
  filter: drop-shadow(0 0 24px white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.header .nav-list {
  height: -moz-fit-content;
  height: fit-content;
}
header.header .nav-list ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header.header .nav-list ul a {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header .nav-list {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  header.header .nav-list {
    display: none;
  }
}
header.header .login-and-menu {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 17px;
}
header.header .login-and-menu .login-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
header.header .login-and-menu .login-btn:hover {
  background-color: #3e3e3e;
}
header.header .login-and-menu .menu-btn {
  background-color: unset;
  border: none;
  outline: none;
  padding: 10px;
  display: none;
}
header.header .login-and-menu .menu-btn img {
  width: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header .login-and-menu .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  header.header .login-and-menu .menu-btn {
    display: block;
  }
}
header.header .burger-menu {
  position: fixed;
  bottom: 0; /* Розташування меню внизу */
  left: 0;
  width: 0;
  height: 0;
  transition: height ease-out 0.25s;
  overflow: hidden;
  background-color: #181818;
  display: flex;
  width: 100%;
}
header.header .burger-menu.open {
  height: 100vh;
}
header.header .burger-menu .content {
  padding: 15px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
header.header .burger-menu .content .cross-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: unset;
  outline: none;
  border: none;
  padding: 10px;
  transform: scale(1.8);
}
header.header .burger-menu .content .cross-btn .cross-icon {
  color: #fff;
}
header.header .burger-menu .content nav {
  text-align: center;
}
header.header .burger-menu .content nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header.header .burger-menu .content nav ul a {
  padding: 10px;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  text-decoration: none;
}
header.header .burger-menu .content nav ul a li:active {
  color: #d9d9d9;
}

body:has(.burger-menu.open) {
  overflow-y: hidden;
}

.hero {
  margin-bottom: 100px;
}
.hero .heading {
  padding: 0 15px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  gap: 27px;
}
@media screen and (max-width: 767.98px) {
  .hero .heading {
    padding: 60px 20px;
  }
}
.hero .heading h1 {
  padding: 10px;
  max-width: 729px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero .heading h1 {
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
    font-family: "Graphik-Medium";
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .heading h1 {
    padding: 10px;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    font-family: "Graphik";
    font-weight: 400;
  }
}
.hero .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
  text-align: center;
}
.hero .buttons {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 35px 15px;
}
.hero .buttons .try-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #4452fe;
  color: #fff;
  border: none;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .buttons .try-btn:hover {
  background-color: #9098fe;
}
.hero .buttons .learn-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .buttons .learn-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero .banner-background {
  width: 100%;
  height: 993px;
  background-color: #4452fe;
  position: relative;
}
.hero .banner-background::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  width: 100%;
  position: absolute;
  height: 66%;
  bottom: 0;
}
.hero .banner-background > * {
  max-height: 850px;
  width: 100%;
}

.features {
  padding: 2px 0;
  margin-bottom: 100px;
}
.features > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.features > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.features > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.features .info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .features .info-block {
    flex-direction: column;
    align-items: center;
  }
}
.features .info-block .left-part {
  padding-right: 28px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 62px;
}
.features .info-block .left-part img {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
.features .info-block .left-part img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767.98px) {
  .features .info-block .left-part {
    padding: 0 0 70px 0;
    justify-content: center;
    margin-bottom: 42px;
  }
  .features .info-block .left-part img:nth-child(1) {
    width: 324px;
  }
  .features .info-block .left-part img:nth-child(2) {
    right: 50%;
    transform: translateX(50%);
    width: 232px;
  }
}
.features .info-block .right-part {
  padding: 20px;
  max-width: 270px;
}
@media screen and (min-width: 768px) {
  .features .info-block .right-part {
    padding-left: 25px;
  }
}
.features .info-block .right-part li {
  margin-bottom: 35px;
}
.features .info-block .right-part li .heading {
  display: flex;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
}
.features .info-block .right-part li .heading h3 {
  margin-left: 15px;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  height: -moz-min-content;
  height: min-content;
}
.features .info-block .right-part li p {
  padding-left: 10px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

.gallery {
  padding: 62px 0;
}
.gallery > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.gallery > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.gallery > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.gallery .photos {
  gap: 33px;
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  margin-left: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767.98px) {
  .gallery .photos {
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery .photos {
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.gallery .photos .item {
  display: flex;
  flex-shrink: 1;
  flex-basis: 225px;
  height: 285px;
  border-radius: 12px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
.gallery .photos .item.large {
  flex-basis: 385px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery .photos .item, .gallery .photos .item.large {
    flex-basis: 329px;
  }
}
@media screen and (max-width: 767.98px) {
  .gallery .photos .item, .gallery .photos .item.large {
    flex-basis: 329px;
  }
}
.gallery .see-more-btn {
  display: flex;
  justify-content: center;
}
.gallery .see-more-btn button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gallery .see-more-btn button:hover {
  background-color: #3e3e3e;
}

.contents {
  padding: 50px 0;
}
.contents > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.contents > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.contents > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.contents .content-cards {
  display: flex;
  justify-content: center;
  gap: 33px;
  flex-wrap: wrap;
}
.contents .content-cards .card {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 476px;
  padding-left: 25px;
  padding-right: 25px;
}
.contents .content-cards .card .heading {
  text-align: center;
  max-width: 288px;
  gap: 10px;
}
.contents .content-cards .card .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  color: #000;
}
.contents .content-cards .card .heading p {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  color: #5c5c5c;
}
.contents .content-cards .card .btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #4452fe;
  color: #fff;
  border: none;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 30px;
}
.contents .content-cards .card .btn:hover {
  background-color: #9098fe;
}
.contents .content-cards .card img {
  filter: drop-shadow(0 4px 31px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 767.98px) {
  .contents .content-cards {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .contents .content-cards .card {
    width: 100%;
  }
}

.partners {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.partners > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.partners > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.partners > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.partners ul.icons {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 50%;
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  .partners ul.icons {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .partners ul.icons {
    width: 70%;
    gap: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .partners ul.icons {
    width: 90%;
    gap: 20px;
    padding: 0 10px;
  }
  .partners ul.icons li {
    flex: 1 1 calc(33.33% - 20px);
    max-width: 80px;
    text-align: center;
  }
  .partners ul.icons li a img {
    max-width: 60px;
    height: auto;
  }
}
.partners ul.icons li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners ul.icons li a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.partners .btn {
  display: flex;
  justify-content: center;
}
.partners .btn button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.partners .btn button:hover {
  background-color: #3e3e3e;
}

.testimonials {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.testimonials > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.testimonials .content {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
@media screen and (min-width: 1600px) {
  .testimonials .content {
    margin: 0 300px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  .testimonials .content {
    margin: 0 200px;
  }
}
.testimonials .content .block {
  border: 1px solid #dedede;
  border-radius: 10px;
  max-width: 430px;
  padding: 40px;
}
.testimonials .content .block .heading {
  display: flex;
  gap: 13px;
  margin-bottom: 20px;
}
.testimonials .content .block .heading .user-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.testimonials .content .block .heading .user-info .username {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
}
.testimonials .content .block .heading .user-info .user-role {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
}
.testimonials .content .block .heading .user-info h3.username, .testimonials .content .block .heading .user-info h3.user-role {
  padding-top: 0;
  padding-bottom: 0;
}
.testimonials .content .block .text {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

footer.footer {
  display: flex;
  justify-content: space-between;
}
footer.footer .left-part {
  width: 47%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer.footer .left-part nav {
  display: flex;
}
footer.footer .left-part nav .menu h3 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  padding-top: 0;
  margin-bottom: 30px;
}
footer.footer .left-part nav .menu ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer.footer .left-part nav .menu ul a {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  text-decoration: none;
  padding: 5px;
}
footer.footer .right-part {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.footer .right-part .company-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
footer.footer .right-part .company-info .info-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .right-part .company-info .info-block img {
  max-width: 40px;
}
footer.footer .right-part .company-info .info-block span {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  padding: 0 8px;
}
footer.footer .right-part .social {
  display: flex;
  gap: 4px;
}
footer.footer .right-part .social a {
  padding: 10px;
}

body {
  background-color: #181818;
}/*# sourceMappingURL=App.css.map */