@import "./Base";
@import "../sections/Header";
@import "../sections/Hero";
@import "../sections/Features";
@import "../sections/Gallery";
@import "../sections/Contents";
@import "../sections/Partners";
@import "../sections/Testimonials";
@import "../sections/Footer";
@import "../games/minesweeper/Game";
@import "../games/connectFour//Game";
@import "../games/minesweeper/StartMenu";
@import "../games/connectFour/StartMenu";
@import "../pages/Games";

body {
  background-color: $dark-background;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



