@import "./Base";
@import "../sections/Header";
@import "../sections/Hero";
@import "../sections/Features";
@import "../sections/Gallery";
@import "../sections/Contents";
@import "../sections/Partners";
@import "../sections/Testimonials";
@import "../sections/Footer";
@import "../games/minesweeper/Game";
@import "../games/connectFour/Game";
@import "../games/minesweeper/StartMenu";
@import "../games/connectFour/StartMenu";
@import "../components/menus/OnlineLobby";
@import "../components/game/FirstPlayerSelector/FirstPlayerSelector";
@import "../pages/Games";
@import "../games/chess/Game";
@import "../components/modals/ConnectingScreen";
@import "../components/modals/WaitingForOpponentScreen";
@import "../components/modals/OpponentDisconnectedModal";
@import "../components/game/GameControls.scss";

body {
  background-color: $dark-background;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:not(:has(header)) {
    .game-wrapper {
      padding-top: 10px;
    }
  }
  .main {
    min-height: 100vh;
  }
}
.game-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
