*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hidden {
  display: none !important;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div {
  color: #fff;
}

@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/Graphik/GraphikRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/public/fonts/Graphik/GraphikMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 4;
  padding: 15px 17.8vw;
  top: 0;
  background-color: #181818;
}
@media screen and (max-width: 767.98px) {
  header.header {
    padding: 7px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header {
    padding: 10px 14vw;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  header.header {
    padding: 15px 17.8vw;
  }
}
header.header .logo {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 24px white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.header .nav-list {
  height: -moz-fit-content;
  height: fit-content;
}
header.header .nav-list ul {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  display: flex;
  gap: 40px;
  list-style: none;
}
header.header .nav-list ul a {
  text-decoration: none;
}
@media screen and (max-width: 767.98px) {
  header.header .nav-list {
    display: none;
  }
}
header.header .login-and-menu {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 17px;
}
header.header .login-and-menu .login-btn {
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  cursor: pointer;
}
header.header .login-and-menu .login-btn:hover {
  background-color: #3e3e3e;
}
header.header .login-and-menu .menu-btn {
  background-color: unset;
  border: none;
  outline: none;
  padding: 10px;
  display: none;
}
header.header .login-and-menu .menu-btn img {
  width: 44px;
}
@media screen and (max-width: 767.98px) {
  header.header .login-and-menu .menu-btn {
    display: block;
  }
}

.hero {
  margin-bottom: 100px;
}
.hero .heading {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  gap: 27px;
}
.hero .heading h1 {
  max-width: 729px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero .heading h1 {
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
    font-family: "Graphik-Medium";
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .heading h1 {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    font-family: "Graphik";
    font-weight: 400;
  }
}
.hero .heading h2 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
  text-align: center;
}
.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 35px 0;
}
.hero .buttons .try-btn {
  background-color: #4452fe;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  cursor: pointer;
}
.hero .buttons .try-btn:hover {
  background-color: #9098fe;
}
.hero .buttons .learn-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  cursor: pointer;
}
.hero .buttons .learn-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero .banner-background {
  width: 100%;
  height: 993px;
  background-color: #4452fe;
  position: relative;
}
.hero .banner-background::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  width: 100%;
  position: absolute;
  height: 66%;
  bottom: 0;
}
.hero .banner-background > * {
  max-height: 850px;
  width: 100%;
}

.features {
  padding: 62px 0;
}
.features > .heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.features > .heading h1 {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.features > .heading h2 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.features .info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .features .info-block {
    flex-direction: column;
    align-items: center;
  }
}
.features .info-block .left-part {
  padding-right: 28px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 62px;
}
.features .info-block .left-part img {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
.features .info-block .left-part img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767.98px) {
  .features .info-block .left-part {
    padding: 0 0 70px 0;
    justify-content: center;
    margin-bottom: 42px;
  }
  .features .info-block .left-part img:nth-child(1) {
    width: 324px;
  }
  .features .info-block .left-part img:nth-child(2) {
    right: 50%;
    transform: translateX(50%);
    width: 232px;
  }
}
.features .info-block .right-part {
  padding: 20px;
  max-width: 270px;
}
@media screen and (min-width: 768px) {
  .features .info-block .right-part {
    padding-left: 25px;
  }
}
.features .info-block .right-part li {
  margin-bottom: 35px;
}
.features .info-block .right-part li .heading {
  display: flex;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
  margin-bottom: 20px;
}
.features .info-block .right-part li .heading h3 {
  margin-left: 15px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  height: -moz-min-content;
  height: min-content;
}
.features .info-block .right-part li p {
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

body {
  background-color: #181818;
}/*# sourceMappingURL=App.css.map */