@import "./Base";
@import "../components/Header";
@import "../components/Hero";

body{
    background-color: $dark-background;
}
.nav-list {
    display: none;
  }
  
  .nav-list.open {
    display: block;
  }
  