@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hidden {
  display: none !important;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div {
  color: #fff;
}

@font-face {
  font-family: "Graphik";
  src: url("/public/fonts/Graphik/GraphikRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/public/fonts/Graphik/GraphikMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 4;
  padding: 15px 17.8vw;
  top: 0;
  background-color: #181818;
}
@media screen and (max-width: 767.98px) {
  header.header {
    padding: 7px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header {
    padding: 10px 10vw;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  header.header {
    padding: 15px 17.8vw;
  }
}
header.header .logo {
  width: 80px;
  height: 80px;
  min-width: 80px;
  filter: drop-shadow(0 0 24px white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.header .nav-list {
  height: -moz-fit-content;
  height: fit-content;
}
header.header .nav-list ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header.header .nav-list ul a {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header .nav-list {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  header.header .nav-list {
    display: none;
  }
}
header.header .login-and-menu {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 17px;
}
header.header .login-and-menu .login-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
header.header .login-and-menu .login-btn:hover {
  background-color: #3e3e3e;
}
header.header .login-and-menu .menu-btn {
  background-color: unset;
  border: none;
  outline: none;
  padding: 10px;
  display: none;
}
header.header .login-and-menu .menu-btn img {
  width: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  header.header .login-and-menu .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  header.header .login-and-menu .menu-btn {
    display: block;
  }
}
header.header .burger-menu {
  position: fixed;
  bottom: 0; /* Розташування меню внизу */
  left: 0;
  width: 0;
  height: 0;
  transition: height ease-out 0.25s;
  overflow: hidden;
  background-color: #181818;
  display: flex;
  width: 100%;
}
header.header .burger-menu.open {
  height: 100vh;
}
header.header .burger-menu .content {
  padding: 15px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
header.header .burger-menu .content .cross-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: unset;
  outline: none;
  border: none;
  padding: 10px;
  transform: scale(1.8);
}
header.header .burger-menu .content .cross-btn .cross-icon {
  color: #fff;
}
header.header .burger-menu .content nav {
  text-align: center;
}
header.header .burger-menu .content nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header.header .burger-menu .content nav ul a {
  padding: 10px;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  text-decoration: none;
}
header.header .burger-menu .content nav ul a li:active {
  color: #d9d9d9;
}

body:has(.burger-menu.open) {
  overflow-y: hidden;
}

.hero {
  margin-bottom: 100px;
}
.hero .heading {
  padding: 0 15px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
  gap: 27px;
}
@media screen and (max-width: 767.98px) {
  .hero .heading {
    padding: 60px 20px;
  }
}
.hero .heading h1 {
  padding: 10px;
  max-width: 729px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero .heading h1 {
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0.2px;
    font-family: "Graphik-Medium";
    font-weight: 500;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .heading h1 {
    padding: 10px;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    font-family: "Graphik";
    font-weight: 400;
  }
}
.hero .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
  text-align: center;
}
.hero .buttons {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 35px 15px;
}
.hero .buttons .try-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #0112db;
  color: #fff;
  border: none;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .buttons .try-btn:hover {
  background-color: #2b3bfe;
}
.hero .buttons .learn-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .buttons .learn-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero .banner-background {
  width: 100%;
  height: 993px;
  background-color: #0112db;
  position: relative;
}
.hero .banner-background::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  width: 100%;
  position: absolute;
  height: 66%;
  bottom: 0;
}
.hero .banner-background > * {
  max-height: 850px;
  width: 100%;
}

.features {
  padding: 2px 0;
  margin-bottom: 100px;
}
.features > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.features > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.features > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.features .info-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .features .info-block {
    flex-direction: column;
    align-items: center;
  }
}
.features .info-block .left-part {
  padding-right: 28px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 62px;
}
.features .info-block .left-part img {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
.features .info-block .left-part img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767.98px) {
  .features .info-block .left-part {
    padding: 0 0 70px 0;
    justify-content: center;
    margin-bottom: 42px;
  }
  .features .info-block .left-part img:nth-child(1) {
    width: 324px;
  }
  .features .info-block .left-part img:nth-child(2) {
    right: 50%;
    transform: translateX(50%);
    width: 232px;
  }
}
.features .info-block .right-part {
  padding: 20px;
  max-width: 270px;
}
@media screen and (min-width: 768px) {
  .features .info-block .right-part {
    padding-left: 25px;
  }
}
.features .info-block .right-part li {
  margin-bottom: 35px;
}
.features .info-block .right-part li .heading {
  display: flex;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
}
.features .info-block .right-part li .heading h3 {
  margin-left: 15px;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  height: -moz-min-content;
  height: min-content;
}
.features .info-block .right-part li p {
  padding-left: 10px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

.gallery {
  padding: 62px 0;
}
.gallery > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.gallery > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.gallery > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.gallery .photos {
  gap: 33px;
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  margin-left: 30px;
  margin-right: 30px;
}
@media screen and (max-width: 767.98px) {
  .gallery .photos {
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery .photos {
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.gallery .photos .item {
  display: flex;
  flex-shrink: 1;
  flex-basis: 225px;
  height: 285px;
  border-radius: 12px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
.gallery .photos .item.large {
  flex-basis: 385px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .gallery .photos .item, .gallery .photos .item.large {
    flex-basis: 329px;
  }
}
@media screen and (max-width: 767.98px) {
  .gallery .photos .item, .gallery .photos .item.large {
    flex-basis: 329px;
  }
}
.gallery .see-more-btn {
  display: flex;
  justify-content: center;
}
.gallery .see-more-btn button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gallery .see-more-btn button:hover {
  background-color: #3e3e3e;
}

.contents {
  padding: 50px 0;
}
.contents > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.contents > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.contents > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.contents .content-cards {
  display: flex;
  justify-content: center;
  gap: 33px;
  flex-wrap: wrap;
}
.contents .content-cards .card {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 476px;
  padding-left: 25px;
  padding-right: 25px;
}
.contents .content-cards .card .heading {
  text-align: center;
  max-width: 288px;
  gap: 10px;
}
.contents .content-cards .card .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  color: #000;
}
.contents .content-cards .card .heading p {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  color: #5c5c5c;
}
.contents .content-cards .card .btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #0112db;
  color: #fff;
  border: none;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 30px;
}
.contents .content-cards .card .btn:hover {
  background-color: #2b3bfe;
}
.contents .content-cards .card img {
  filter: drop-shadow(0 4px 31px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 767.98px) {
  .contents .content-cards {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .contents .content-cards .card {
    width: 100%;
  }
}

.partners {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.partners > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.partners > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.partners > .heading h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  max-width: 602px;
}
.partners ul.icons {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 50%;
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  .partners ul.icons {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .partners ul.icons {
    width: 70%;
    gap: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .partners ul.icons {
    width: 90%;
    gap: 20px;
    padding: 0 10px;
  }
  .partners ul.icons li {
    flex: 1 1 calc(33.33% - 20px);
    max-width: 80px;
    text-align: center;
  }
  .partners ul.icons li a img {
    max-width: 60px;
    height: auto;
  }
}
.partners ul.icons li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners ul.icons li a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.partners .btn {
  display: flex;
  justify-content: center;
}
.partners .btn button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #181818;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 40px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.partners .btn button:hover {
  background-color: #3e3e3e;
}

.testimonials {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials > .heading {
  padding: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.testimonials > .heading h1 {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.testimonials .content {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
@media screen and (min-width: 1600px) {
  .testimonials .content {
    margin: 0 300px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599.98px) {
  .testimonials .content {
    margin: 0 200px;
  }
}
.testimonials .content .block {
  border: 1px solid #dedede;
  border-radius: 10px;
  max-width: 430px;
  padding: 40px;
}
.testimonials .content .block .heading {
  display: flex;
  gap: 13px;
  margin-bottom: 20px;
}
.testimonials .content .block .heading .user-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.testimonials .content .block .heading .user-info .username {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
}
.testimonials .content .block .heading .user-info .user-role {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
}
.testimonials .content .block .heading .user-info h3.username, .testimonials .content .block .heading .user-info h3.user-role {
  padding-top: 0;
  padding-bottom: 0;
}
.testimonials .content .block .text {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

footer.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer.footer .left-part {
  width: 47%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer.footer .left-part nav {
  display: flex;
}
footer.footer .left-part nav .menu h3 {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  padding-top: 0;
  margin-bottom: 30px;
}
footer.footer .left-part nav .menu ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer.footer .left-part nav .menu ul a {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  text-decoration: none;
  padding: 5px;
}
footer.footer .right-part {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.footer .right-part .company-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
footer.footer .right-part .company-info .info-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .right-part .company-info .info-block img {
  max-width: 40px;
}
footer.footer .right-part .company-info .info-block span {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  padding: 0 8px;
}
footer.footer .right-part .social {
  display: flex;
  gap: 4px;
}
footer.footer .right-part .social a {
  padding: 10px;
}
@media screen and (max-width: 767.98px) {
  footer.footer {
    justify-content: center;
    gap: 35px;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 40px;
  }
  footer.footer .left-part, footer.footer .right-part {
    width: auto;
  }
  footer.footer .left-part .info-block img, footer.footer .right-part .info-block img {
    scale: 0.8;
  }
  footer.footer .left-part .social a, footer.footer .right-part .social a {
    scale: 0.9;
  }
}

.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: #fff;
  border-radius: 5%;
}
.minesweeper .flag-count {
  font-size: 1.5em;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.minesweeper #field {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  border-radius: 2%;
  padding: 10px;
  overflow: hidden;
}
.minesweeper #field .row:first-child .cell:first-child {
  border-radius: 30% 0 0 0;
}
.minesweeper #field .row:last-child .cell:first-child {
  border-radius: 0 0 0 30%;
}
.minesweeper #field .row:first-child .cell:last-child {
  border-radius: 0 30% 0 0;
}
.minesweeper #field .row:last-child .cell:last-child {
  border-radius: 0 0 30% 0;
}
.minesweeper .row {
  display: flex;
}
.minesweeper .cell {
  width: 40px;
  height: 40px;
  border: 1px solid #272e36;
  background-color: #232930;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.minesweeper .cell:hover {
  background-color: #39424d;
  border: 1px solid #4e5b6b;
}
.minesweeper .cell.revealed {
  background-color: #2e363f;
  border: 1px solid #252c33;
}
.minesweeper .cell.bomb {
  position: relative;
  animation: explode 0.5s forwards;
}
.minesweeper .cell.bombs-around-1 {
  color: #2a71d0;
}
.minesweeper .cell.bombs-around-2 {
  color: #3a9d23;
}
.minesweeper .cell.bombs-around-3 {
  color: #d02a2a;
}
.minesweeper .cell.bombs-around-4 {
  color: #872ca8;
}
.minesweeper .cell.bombs-around-5 {
  color: #a85c2c;
}
.minesweeper .cell.bombs-around-6 {
  color: #2ca899;
}
.minesweeper .cell.bombs-around-7 {
  color: #4c4c9d;
}
.minesweeper .cell.bombs-around-8 {
  color: #cfca34;
}
.minesweeper .pop-up {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  border-radius: 5%;
  border: 1px solid #323232;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}
.minesweeper .pop-up .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding: 8% 20px 20px 20px;
}
.minesweeper .pop-up .content .heading {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.minesweeper .pop-up .content .control-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.minesweeper .pop-up .content .control-buttons .leave-btn,
.minesweeper .pop-up .content .control-buttons .restart-btn,
.minesweeper .pop-up .content .control-buttons .back-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #112d57;
  color: #fff;
  border: none;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.minesweeper .pop-up .content .control-buttons .leave-btn:hover,
.minesweeper .pop-up .content .control-buttons .restart-btn:hover,
.minesweeper .pop-up .content .control-buttons .back-btn:hover {
  background-color: #1e4e97;
}
.minesweeper .pop-up .content .bomb-example > div {
  position: relative;
  animation: explode 0.5s forwards;
  width: 40px;
  height: 40px;
  border: 1px solid #272e36;
  background-color: #232930;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes explode {
  0% {
    transform: scale(1);
    background-color: #232930;
    opacity: 1;
    box-shadow: none;
  }
  20% {
    transform: scale(1.2);
    background-color: yellow;
    opacity: 1;
    box-shadow: 0 0 10px yellow;
  }
  40% {
    transform: scale(1.5);
    background-color: orange;
    opacity: 0.9;
    box-shadow: 0 0 20px orange;
  }
  60% {
    transform: scale(1.8);
    background-color: red;
    opacity: 0.7;
    box-shadow: 0 0 30px red;
  }
  80% {
    transform: scale(2);
    background-color: darkred;
    opacity: 0.4;
    box-shadow: 0 0 40px darkred;
  }
  100% {
    transform: scale(2.5);
    background-color: transparent;
    opacity: 0;
    box-shadow: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    pointer-events: none;
  }
}
.connect-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.connect-four .top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  position: relative;
}
.connect-four .top-bar .left-part {
  position: absolute;
  left: 20px;
}
.connect-four .top-bar .left-part .exit-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four .top-bar .left-part .exit-btn:hover {
  background-color: #e77681;
}
.connect-four .top-bar .mid-part {
  display: flex;
  gap: 35px;
  align-items: center;
}
.connect-four .top-bar .mid-part .player-1-timers,
.connect-four .top-bar .mid-part .player-2-timers {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 20px;
}
.connect-four .top-bar .mid-part .player-1-timers div:not(.number-timer):after,
.connect-four .top-bar .mid-part .player-2-timers div:not(.number-timer):after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  z-index: -1;
}
.connect-four .top-bar .mid-part .player-1-timers > div:last-child::after {
  background-color: rgb(var(--player-color-1));
}
.connect-four .top-bar .mid-part .player-2-timers > div:first-child::after {
  background-color: rgb(var(--player-color-2));
}
.connect-four .top-bar .right-part {
  position: absolute;
  right: 20px;
  gap: 20px;
  display: flex;
}
.connect-four .top-bar .right-part .pause-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #1e7e34;
  color: #fff;
  border: none;
  padding: 10px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four .top-bar .right-part .pause-btn:hover {
  background-color: #2dbc4e;
}
.connect-four .top-bar .right-part .pause-btn.paused {
  background-color: #dc3545;
}
.connect-four .top-bar .right-part .restart-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #112d57;
  color: #fff;
  border: none;
  padding: 10px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four .top-bar .right-part .restart-btn:hover {
  background-color: #1e4e97;
}
.connect-four .field-main {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.connect-four .field-main .field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5%;
}
.connect-four .field-main .field .row {
  display: flex;
}
.connect-four .field-main .field .row .cell {
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
}
.connect-four .field-main .field .row .cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97.5px;
  height: 97.5px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 200px #232930;
  transform: translate(-50%, -50%);
  background: var(--after-color, transparent);
}
.connect-four .field-main .field .row .cell.hovered-col::after {
  box-shadow: 0 0 0 200px #272d35;
}
.connect-four .field-main .field-with-checkers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.connect-four .field-main .field-with-checkers .row {
  display: flex;
}
.connect-four .field-main .field-with-checkers .row .cell {
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
}
.connect-four .field-main .field-with-checkers .row .cell.last-checker::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16.9px;
  height: 16.9px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #e6e6e6;
  z-index: 1;
}
.connect-four .field-main .field-with-checkers .row .cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97.5px;
  height: 97.5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--after-color, transparent);
}
.connect-four .field-main .field-with-checkers .row .cell.hovered-by-player-1::after {
  background-color: rgba(var(--player-color-1), 0.4);
}
.connect-four .field-main .field-with-checkers .row .cell.hovered-by-player-2::after {
  background-color: rgba(var(--player-color-2), 0.4);
}
.connect-four .field-main .field-with-checkers .row .cell.active-by-player-1::after {
  background-color: rgb(var(--player-color-1));
}
.connect-four .field-main .field-with-checkers .row .cell.active-by-player-2::after {
  background-color: rgb(var(--player-color-2));
}
.connect-four .field-main .field-with-checkers .row .cell.falling {
  animation: fallAnimation 0.5s ease-out forwards;
}
.connect-four .pop-up {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  border-radius: 5%;
  border: 1px solid #323232;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}
.connect-four .pop-up .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding: 8% 20px 20px 20px;
}
.connect-four .pop-up .content .heading {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}
.connect-four .pop-up .content .control-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.connect-four .pop-up .content .control-buttons .leave-btn,
.connect-four .pop-up .content .control-buttons .restart-btn,
.connect-four .pop-up .content .control-buttons .back-btn {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #112d57;
  color: #fff;
  border: none;
  padding: 14px 46px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four .pop-up .content .control-buttons .leave-btn:hover,
.connect-four .pop-up .content .control-buttons .restart-btn:hover,
.connect-four .pop-up .content .control-buttons .back-btn:hover {
  background-color: #1e4e97;
}
.connect-four .pop-up .content .winner-checker {
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
}
.connect-four .pop-up .content .winner-checker.falling {
  animation: fallAnimation 0.5s ease-out forwards;
}
.connect-four .pop-up .content .winner-checker::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97.5px;
  height: 97.5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgb(var(--winner-color, transparent));
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100vh); /* Початкове положення за межами екрана */
  }
  70% {
    transform: translateY(0); /* Фішка падає в клітинку */
  }
  90% {
    transform: translateY(-7px); /* Фішка трохи відскакує вгору */
  }
  100% {
    transform: translateY(0); /* Фішка остаточно зупиняється в клітинці */
  }
}

.pick-first-player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  padding: 8% 20px 20px 20px;
}
.pick-first-player .heading {
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
}

body {
  perspective: 800px;
}

h1 {
  text-align: center;
}

#coin {
  position: relative;
  margin: 50px auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  perspective: 1000px;
}

#coin div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
}

.side-a {
  background-color: rgb(var(--player-color-1));
}

.side-b {
  background-color: rgb(var(--player-color-2));
  transform: rotateY(-180deg);
}

#coin {
  transform-style: preserve-3d;
  transition: transform 1s ease-in;
}

#coin div {
  position: absolute;
  backface-visibility: hidden;
}

.side-a {
  z-index: 100;
}

#coin.heads {
  animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
  animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1800deg);
    transform: rotateY(1800deg);
  }
}
@keyframes flipTails {
  from {
    transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}
.pause {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 22.5px;
  z-index: 1;
}
.pause::before, .pause::after {
  content: "";
  width: 22.5px;
  height: 90px;
  background-color: #fff;
  display: block;
}

.connect-four-start-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.connect-four-start-menu .menu-header {
  margin-bottom: 20px;
}
.connect-four-start-menu .menu-header h1 {
  text-align: center;
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 36px;
  color: #0112db;
}
.connect-four-start-menu .menu-section {
  margin-bottom: 20px;
}
.connect-four-start-menu .menu-section h2 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  color: #e6e6e6;
  margin-bottom: 10px;
}
.connect-four-start-menu .menu-section .game-modes button,
.connect-four-start-menu .menu-section .menu-actions button {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #0112db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}
.connect-four-start-menu .menu-section .game-modes button:hover,
.connect-four-start-menu .menu-section .menu-actions button:hover {
  background-color: #2b3bfe;
}
.connect-four-start-menu .menu-section .game-modes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.connect-four-start-menu .menu-section .game-modes button:hover {
  background: #2b3bfe;
}
.connect-four-start-menu .menu-section .game-modes button.active {
  background: #28a745;
}
.connect-four-start-menu .player-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.connect-four-start-menu .player-settings .player {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
}
.connect-four-start-menu .player-settings .player label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}
.connect-four-start-menu .player-settings .player label:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}
.connect-four-start-menu .player-settings .player label input[type=text] {
  width: 100%;
  padding: 8px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.connect-four-start-menu .player-settings .player label input[type=color] {
  width: 50px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.connect-four-start-menu .menu-actions {
  display: flex;
  justify-content: space-around;
}
.connect-four-start-menu .menu-actions .start-button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four-start-menu .menu-actions .start-button:hover {
  background-color: #48d368;
}
.connect-four-start-menu .menu-actions .exit-button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.connect-four-start-menu .menu-actions .exit-button:hover {
  background-color: #e77681;
}
.connect-four-start-menu .menu-actions button {
  padding: 10px 20px;
}
.connect-four-start-menu .menu-actions button:hover {
  opacity: 0.9;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}
.error-message.general-error {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.minesweeper-start-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.minesweeper-start-menu .menu-header {
  margin-bottom: 20px;
}
.minesweeper-start-menu .menu-header h1 {
  text-align: center;
  padding: 10px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 36px;
  color: #0112db;
}
.minesweeper-start-menu .menu-section {
  margin-bottom: 20px;
}
.minesweeper-start-menu .menu-section h2 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Graphik";
  font-weight: 400;
  color: #e6e6e6;
  margin-bottom: 10px;
}
.minesweeper-start-menu .menu-section .difficulty-slider {
  display: flex;
  flex-direction: column;
}
.minesweeper-start-menu .menu-section .difficulty-slider .game-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.minesweeper-start-menu .menu-actions {
  display: flex;
  justify-content: space-around;
}
.minesweeper-start-menu .menu-actions .start-button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.minesweeper-start-menu .menu-actions .start-button:hover {
  background-color: #48d368;
}
.minesweeper-start-menu .menu-actions .exit-button {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: "Graphik-Medium";
  font-weight: 500;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.minesweeper-start-menu .menu-actions .exit-button:hover {
  background-color: #e77681;
}
.minesweeper-start-menu .menu-actions button {
  padding: 10px 20px;
}
.minesweeper-start-menu .menu-actions button:hover {
  opacity: 0.9;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}
.error-message.general-error {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

body {
  background-color: #181818;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=App.css.map */