@mixin for-size($size) {
  // Usage example: @include for-size(mobile) {}
  @if $size ==mobile {
    @media screen and (max-width: 767.98px) {
      @content;
    }
  } @else if $size ==tablet {
    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
      @content;
    }
  } @else if $size ==laptop {
    @media screen and (min-width: 1280px) and (max-width: 1599.98px) {
      @content;
    }
  } @else if $size ==desktop {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }
}
$primary: #4452fe;
$secondary: #112d57;
$first-text: #000;
$light-text: #fff;
$second-text: #5c5c5c;
$dark-background: #181818;
$light-background: #fff;

//   $body:#1C121F;
//   @font-face {
//     font-family: "Oxanium";
//     src:
//         url("./fonts/Oxanium/Oxanium-VariableFont_wght.woff2") format("woff2"),
//         url("./fonts/Oxanium/Oxanium-VariableFont_wght.ttf") format("ttf");
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hidden {
  display: none !important;
}
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div {
    color: $light-text;
}
