.hero {
  margin-bottom: 100px;
  .heading {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    @include for-size(mobile){
      padding: 60px 20px;

    }
    gap: 27px;
    h1 {
      @include for-text(headline);
      max-width: 729px;
      text-align: center;
    }
    h2 {
      @include for-text(sub-heading);
      max-width: 602px;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 35px 0;
    .try-btn{
      @include for-button(
        $bg-color: $primary,
        $padding: 20px 40px
      );
    }
    .learn-btn{
      @include for-button(
        $bg-color: transparent,
        $padding: 20px 40px
      );
    }
    
  }
  .banner-background{
    width: 100%;
    height: 993px;
    background-color: $primary;
    position: relative;
    &::after{
      content:"";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
      width: 100%;
      position: absolute;
      height: 66%;
      bottom: 0;
    }
    &>*{
      max-height: 850px;
      width: 100%;
    }
  }
}
