$cellSize: 100px;
$falling-duration: 0.5s;
$bounce-height: 7px;

.connect-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  .top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    position: relative;

    .left-part {
      position: absolute;
      left: 20px;

      .exit-btn {
        @include for-button(
          $bg-color: $deny-text,
          $text-color: $light-text,
          $padding: 10px 20px
        );
      }
    }

    .mid-part {
      display: flex;
      gap: 35px;
      align-items: center;

      .player-1-timers,
      .player-2-timers {
        user-select: none;
        display: flex;
        gap: 20px;
        align-items: center;

        div:not(.number-timer)::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 50%;
          z-index: -1;
        }
      }

      .player-1-timers > div:last-child {
        &::after {
          background-color: rgb(var(--player-color-1));
        }
      }

      .player-2-timers > div:first-child {
        &::after {
          background-color: rgb(var(--player-color-2));
        }
      }
    }

    .right-part {
      position: absolute;
      right: 20px;
      gap: 20px;
      display: flex;

      .pause-btn {
        cursor: pointer;
        @include for-button(
          $bg-color: darken($confirm-text, 10),
          $padding: 10px 46px
        );
        &.paused {
          background-color: $deny-text;
        }
      }

      .restart-btn {
        @include for-button($bg-color: $secondary, $padding: 10px 46px);
      }
    }
    @include for-size(not-mobile) {
      &.mobile {
        display: none;
      }
      .picker {
        display: none;
      }
    }
    @include for-size(mobile) {
      &.mobile {
        display: flex;
        justify-content: space-between;
        gap: 2px;
      }
      .exit-btn {
        @include for-button(
          $bg-color: $deny-text,
          $text-color: $light-text,
          $padding: 10px 20px
        );
      }
      .restart-btn {
        @include for-button($bg-color: $secondary, $padding: 10px 46px);
      }
      .pause-btn {
        @include for-button(
          $bg-color: darken($confirm-text, 10),
          $padding: 10px 46px
        );
        &.paused {
          background-color: $deny-text;
        }
      }
      &:not(.mobile) .exit-btn,
      &:not(.mobile) .restart-btn,
      &:not(.mobile) .pause-btn {
        display: none;
      }
      &.mobile .exit-btn,
      &.mobile .restart-btn,
      &.mobile .pause-btn {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        max-width: 200px;
        width: 33%;
        justify-content: center;
        font-size: 14px;
      }
      .mid-part {
        gap: 0;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  .field-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    width: 100%;
    .field-main {
      position: relative;
      width: fit-content;
      height: fit-content;

      .field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5%;

        .row {
          display: flex;

          .cell {
            position: relative;
            width: $cellSize;
            height: $cellSize;
            overflow: hidden;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc($cellSize * 0.75);
              height: calc($cellSize * 0.75);
              background-color: transparent;
              border-radius: 50%;
              box-shadow: 0 0 0 200px #232930;
              transform: translate(-50%, -50%);
              background: var(--after-color, transparent);
            }

            &.hovered-col::after {
              box-shadow: 0 0 0 200px lighten(#232930, 1.7%);
            }
          }
        }
      }

      .field-with-checkers {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .row {
          display: flex;

          .cell {
            position: relative;
            width: $cellSize;
            height: $cellSize;
            overflow: hidden;

            &.last-checker::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc($cellSize * 0.13);
              height: calc($cellSize * 0.13);
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: darken($light-background, 10);
              z-index: 1;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc($cellSize * 0.75);
              height: calc($cellSize * 0.75);
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: var(--after-color, transparent);
            }

            &.hovered-by-player-1::after {
              background-color: rgba(var(--player-color-1), 0.4);
            }
            &.hovered-by-player-2::after {
              background-color: rgba(var(--player-color-2), 0.4);
            }
            &.active-by-player-1::after {
              background-color: rgb(var(--player-color-1));
            }
            &.active-by-player-2::after {
              background-color: rgb(var(--player-color-2));
            }

            &.falling {
              animation: fallAnimation $falling-duration ease-out forwards;
            }
          }
        }
      }
    }
    .pause-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.4);
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
      .pop-up {
        box-shadow: 0 0 75px 30px rgba(0, 0, 0, 0.7);

        .pause-heading {
          @include for-text(second-headline);
        }
        .pause-icon {
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          display: flex;
          gap: 22.5px;
          z-index: 1;

          &::before,
          &::after {
            content: "";
            width: 22.5px;
            height: 90px;
            background-color: $light-background;
            display: block;
          }
        }
        .pause-btn {
          font-size: 1.5rem;
          padding: 10px 30px;
          margin-top: 20px;
          @include for-button($bg-color: transparent, $padding: 20px 40px);
        }
      }
    }
  }

  .pop-up {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-background;
    border-radius: 5%;
    border: 1px solid lighten($dark-background, 10);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      align-items: center;
      padding: 8% 20px 20px 20px;

      .heading {
        @include for-text(second-headline);
      }

      .control-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .leave-btn,
        .restart-btn,
        .back-btn {
          @include for-button($bg-color: $secondary, $padding: 14px 46px);
        }
      }

      .winner-checker {
        position: relative;
        width: $cellSize;
        height: $cellSize;
        overflow: hidden;

        &.falling {
          animation: fallAnimation $falling-duration ease-out forwards;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc($cellSize * 0.75);
          height: calc($cellSize * 0.75);
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background: rgb(var(--winner-color, transparent));
        }
      }
    }
  }

  @keyframes fallAnimation {
    0% {
      transform: translateY(-100vh);
    }
    70% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-$bounce-height);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 600px) {
  $mobileCellSize: calc((100vw - 20px) / var(--row-length));

  .connect-four {
    .field-main {
      .field {
        .row {
          .cell {
            width: $mobileCellSize;
            height: $mobileCellSize;

            &::after {
              width: calc($mobileCellSize * 0.75);
              height: calc($mobileCellSize * 0.75);
            }
          }
        }
      }

      .field-with-checkers {
        .row {
          .cell {
            width: $mobileCellSize;
            height: $mobileCellSize;

            &.last-checker::before {
              width: calc($mobileCellSize * 0.13);
              height: calc($mobileCellSize * 0.13);
            }

            &::after {
              width: calc($mobileCellSize * 0.75);
              height: calc($mobileCellSize * 0.75);
            }
          }
        }
      }
    }

    .pop-up {
      .content {
        .winner-checker {
          width: $mobileCellSize;
          height: $mobileCellSize;

          &::after {
            width: calc($mobileCellSize * 0.75);
            height: calc($mobileCellSize * 0.75);
          }
        }
      }
    }
  }
}
