$falling-duration: 0.5s;
$bounce-height: 7px;

.connect-four {
  --cellSize: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;

  .disabled-visual {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include for-size(mobile) {
    --cellSize: calc((100vw - 40px) / 7);
    justify-content: space-around;
    height: 100%;
  }
  @media screen and (max-width: 450px) {
    --cellSize: calc((100vw - 20px) / 7);
  }

  .top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 55px;1
    padding: 0 20px;
    position: relative;
    // @include for-size(mobile) {
    //   padding: 0 20px;
    // }
    .left-part {
      position: absolute;
      left: 20px;
    }

    .mid-part {
      display: flex;
      gap: 35px;
      align-items: center;

      .player-1-timers,
      .player-2-timers {
        user-select: none;
        display: flex;
        gap: 20px;
        align-items: center;
        @include for-size(mobile) {
          flex-direction: row-reverse;
        }
        div:not(.number-timer)::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 50%;
          z-index: -1;
        }
      }

      .player-1-timers > div:last-child {
        &::after {
          background-color: rgb(var(--player-color-1));
        }
      }

      .player-2-timers > div:first-child {
        &::after {
          background-color: rgb(var(--player-color-2));
        }
      }
    }

    .right-part {
      position: absolute;
      right: 20px;
      gap: 20px;
      display: flex;
    }
    @include for-size(not-mobile) {
      &.mobile {
        display: none;
      }
      .picker {
        display: none;
      }
    }
    @include for-size(mobile) {
      &.mobile {
        display: flex;
        justify-content: space-between;
        gap: 2px;
      }

      &:not(.mobile) .exit-btn,
      &:not(.mobile) .restart-btn,
      &:not(.mobile) .pause-btn {
        display: none;
      }
      &.mobile .exit-btn,
      &.mobile .restart-btn,
      &.mobile .pause-btn {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        max-width: 200px;
        justify-content: center;
        font-size: 14px;
      }
      .mid-part {
        gap: 0;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 410px) {
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;

          .nickname-display {
            order: -1;
            width: 100%;
            margin-bottom: 5px;
          }

          .player-1-timers,
          .player-2-timers {
            width: 45%;
            justify-content: center;
          }
        }
      }
    }

    @media (max-width: 1280px) {
      .mid-part h1 {
        font-size: 2rem;
      }
      .mid-part .number-timer h1 {
        font-size: 1.5rem;
      }
      .exit-btn,
      .pause-btn,
      .restart-btn {
        // Styles moved to GameControls.scss but layout might need care?
        // Actually, GameControls.scss has this exact media query (lines 191 in original)
        // so I should probably remove it from here to avoid duplication/conflict.
      }

      .left-part,
      .right-part {
        display: flex;
        align-items: center;
      }
    }
  }
  .field-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    width: 100%;
    @include for-size(mobile) {
      padding: 0;
      margin-bottom: 100px;
    }
    .field-main {
      position: relative;
      width: fit-content;
      height: fit-content;

      .field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5%;

        .row {
          display: flex;

          .cell {
            position: relative;
            width: var(--cellSize);
            height: var(--cellSize);
            overflow: hidden;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc(var(--cellSize) * 0.75);
              height: calc(var(--cellSize) * 0.75);
              background-color: transparent;
              border-radius: 50%;
              box-shadow: 0 0 0 200px #232930;
              transform: translate(-50%, -50%);
              background: var(--after-color, transparent);
            }

            &.hovered-col::after {
              box-shadow: 0 0 0 200px lighten(#232930, 1.7%);
            }
          }
        }
      }

      .field-with-checkers {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .row {
          display: flex;

          .cell {
            position: relative;
            width: var(--cellSize);
            height: var(--cellSize);
            overflow: hidden;

            &.last-checker::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc(var(--cellSize) * 0.13);
              height: calc(var(--cellSize) * 0.13);
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: darken($light-background, 10);
              z-index: 1;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: calc(var(--cellSize) * 0.75);
              height: calc(var(--cellSize) * 0.75);
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: var(--after-color, transparent);
            }

            &.hovered-by-player-1::after {
              background-color: rgba(var(--player-color-1), 0.4);
            }
            &.hovered-by-player-2::after {
              background-color: rgba(var(--player-color-2), 0.4);
            }
            &.active-by-player-1::after {
              background-color: rgb(var(--player-color-1));
            }
            &.active-by-player-2::after {
              background-color: rgb(var(--player-color-2));
            }

            &.falling {
              animation: fallAnimation $falling-duration ease-out forwards;
            }
          }
        }
      }
    }
  }

  .pop-up {
    .content {
      .winner-checker {
        position: relative;
        width: var(--cellSize);
        height: var(--cellSize);
        overflow: hidden;

        &.falling {
          animation: fallAnimation $falling-duration ease-out forwards;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(var(--cellSize) * 0.75);
          height: calc(var(--cellSize) * 0.75);
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background: rgb(var(--winner-color, transparent));
        }
      }
    }
  }

  @keyframes fallAnimation {
    0% {
      transform: translateY(-100vh);
    }
    70% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-$bounce-height);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 600px) {
  $mobileCellSize: calc((100vw - 20px) / var(--row-length));

  .connect-four {
    .field-main {
      .field {
        .row {
          .cell {
            width: $mobileCellSize;
            height: $mobileCellSize;

            &::after {
              width: calc($mobileCellSize * 0.75);
              height: calc($mobileCellSize * 0.75);
            }
          }
        }
      }

      .field-with-checkers {
        .row {
          .cell {
            width: $mobileCellSize;
            height: $mobileCellSize;

            &.last-checker::before {
              width: calc($mobileCellSize * 0.13);
              height: calc($mobileCellSize * 0.13);
            }

            &::after {
              width: calc($mobileCellSize * 0.75);
              height: calc($mobileCellSize * 0.75);
            }
          }
        }
      }
    }

    .pop-up {
      .content {
        .winner-checker {
          width: $mobileCellSize;
          height: $mobileCellSize;

          &::after {
            width: calc($mobileCellSize * 0.75);
            height: calc($mobileCellSize * 0.75);
          }
        }
      }
    }
  }
}
